// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Logo font family
$logo-font: 'Anton', sans-serif;

/// Body (monospace) font family
$body-font: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;

///List font family
$list-font:'Quicksand', sans-serif;

//Colors
$hover-color: #25b1b0;
$hover-link-color: #fff;
$light-grey: rgb(237, 237, 237);
$mid-grey: rgb(153, 153, 153);
$menu-bg: #262930;

//Comp

